:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --dark-logo-cl: #000000;
  --blue-cl: #2196f3;
  --info-txt-cl: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --main-background-cl: #2f303a;

  /* Others */
}
.page {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

/* Reset */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

/* HEADER */
.header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--dark-logo-cl);
}
.header-logo span {
  color: var(--blue-cl);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--blue-cl);
}
.main-nav-link.current {
  color: var(--blue-cl);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--blue-cl);
}

/* HERO */
.hero {
  background-color: var(--main-background-cl);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}
.hero-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--blue-cl);
}

/* FEATURES */
/* .features-main-title {
  opacity: 0;
} */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-subtitle {
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/* FUNCTION */
.function-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

/* TEAM */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
.profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/* FOOTER */
.footer {
  background-color: var(--main-background-cl);
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}
.footer-logo span {
  color: var(--blue-cl);
}
.info-list {
  font-style: normal;
}
.adress-link {
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}
.info-link {
  letter-spacing: 0.03em;
  color: var(--info-txt-cl);
}
